.accordion {
    width: 100%;
    padding: 18px;
    text-align: left;
    border-radius: 8px;
    transition: 1s;
    background-color: var(--black-800);
}
.accordion .buttonWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.accordion .buttonWrapper button {
    width: 100%;
    border: none;
    outline: none;
    font-size: large;
    font-weight: bold;
    text-align: start;
    cursor: pointer;
    color: var(--white-100);
    background-color: transparent;
}
.accordion .buttonWrapper .arrowIcon {
    transition: 0.4s all;
    transform: rotate(-90deg);
}
.panel {
    margin-top: 1rem;
    background-color: transparent;
    display: none;
    overflow: hidden;
}
.panel p {
    font-size: medium;
}
@media (max-width: 769px) {
    .accordion .buttonWrapper button {
        font-size: medium;
    }
    .panel p {
        font-size: small;
    }
}