.callToActionVariant {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;

    width: auto;
    border-radius: 6px;
    font-weight: 500;
    font-size: 0.9rem;
    padding: 0.4rem;
    border: none;
    cursor: pointer;
    transition: 200ms all;

    color: var(--white-100);
    background-color: var(--primary);
}
.outlined {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;

    width: auto;
    border-radius: 8px;
    font-weight: 500;
    font-size: 1rem;
    padding: 0.8rem 2.4rem;
    border: 1px solid var(--white-100);
    cursor: pointer;
    transition: 200ms all;

    color: var(--white-100);
    background-color: transparent;
}
.whatsApp {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;

    width: auto;
    border-radius: 8px;
    font-weight: 500;
    font-size: 1rem;
    padding: 0.8rem 2.4rem;
    border: none;
    cursor: pointer;
    transition: 200ms all;

    color: var(--white-100);
    background-color: var(--primary);

    background: #00D34D;
    box-shadow: 0px 0px 16px #00D34D;
}
.whatsApp:hover {
    box-shadow: 0px 0px 22px #00D34D;
}

@media (max-width: 769px) {
    .callToAction {
        width: 100%;
        padding: 1rem 2rem;
    }
    .callToActionVariant {
        padding: 1rem 0;
        font-size: 1.2rem;
    }
}