.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 240px;
    border-radius: 8px;
    padding: 1.4rem 1rem;
    gap: 1rem;
    background-color: var(--white-100);
    box-shadow: 0px 57px 23px rgba(0, 0, 0, 0.01), 0px 32px 19px rgba(0, 0, 0, 0.03), 0px 14px 14px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.05);
    transition: 200ms all;
}
.container:hover {
    box-shadow: 0px 51px 20px rgba(0, 0, 0, 0.01), 0px 28px 17px rgba(0, 0, 0, 0.05), 0px 13px 13px rgba(0, 0, 0, 0.09), 0px 3px 7px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.container h3 {
    font-size: large;
    font-weight: 600;
    line-height: 1.2rem;
    color: var(--black-800)
}
.container h3 span {
    color: var(--primary)
}
.container p {
    font-size: small;
    line-height: 1rem;
}

@media (max-width: 769px) {
    .container {
        max-width: 100%;
        border-top: 4px solid var(--primary);
        border-bottom: 4px solid var(--primary);
    }
    .container h3 {
        font-size: larger;
        line-height: 1.4rem;
    }
    .container p {
        font-size: medium;
        line-height: 1.2rem;
    }
}