.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    background-color: var(--white-200);
}

.footer h1 {
    font-size: larger;
    font-style: italic;
    font-weight: 800;
    text-align: center;
    color: var(--primary);  
}
.footer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 0;
}
.footer div a {
    color: var(--gray-800);
    font-size: medium;
    text-decoration: underline;
}
.footer h6 {
    color: var(--gray-800);
    font-size: medium;
    font-weight: 500;
}