
.inputRange {
    height: 24px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}
.inputRange:focus {
    outline: none;
}
.inputRange::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #797979;
    border-radius: 50px;
    border: 0px solid #000000;
}
.inputRange::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 18px;
    width: 18px;
    border-radius: 50px;
    background: #DC002D;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
}
.inputRange:focus::-webkit-slider-runnable-track {
    background: #797979;
}
.inputRange::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #797979;
    border-radius: 50px;
    border: 0px solid #000000;
}
.inputRange::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 18px;
    width: 18px;
    border-radius: 50px;
    background: #DC002D;
    cursor: pointer;
}
.inputRange::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
.inputRange::-ms-fill-lower {
    background: #797979;
    border: 0px solid #000000;
    border-radius: 100px;
    box-shadow: 0px 0px 0px #000000;
}
.inputRange::-ms-fill-upper {
    background: #797979;
    border: 0px solid #000000;
    border-radius: 100px;
    box-shadow: 0px 0px 0px #000000;
}
.inputRange::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 18px;
    width: 18px;
    border-radius: 50px;
    background: #DC002D;
    cursor: pointer;
}
.inputRange:focus::-ms-fill-lower {
    background: #797979;
}
.inputRange:focus::-ms-fill-upper {
    background: #797979;
}

/* INPUT RADIO */

.inputRadio {
    opacity: 0;
    width: 0;
}
.label {
    display: inline-block;
    padding: 0.2rem 1.2rem;
    border: 1.5px solid #9C9B9B;
    border-radius: 40px;
    font-size: medium;
    font-weight: 500;
    color: #9C9B9B;
    text-align: center;
    background-color: transparent;
}
.inputRadio:checked + .label {
    border-width: 2px;
    border-color: #DC002D;
    color: #DC002D;
    
}
.inputRadio:focus + .label {
    border-width: 2px;
    border-color: #DC002D;
    color: #DC002D;
}

/* INPUT COLOR */

.inputColor {
    opacity: 0;
    width: 0;
}
.inputColorLabel {
    display: inline-block;
    padding: 1rem;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0px 2px 8px #00000020;
}
.inputColor:checked + .inputColorLabel {
    border: 3px solid #DC002D;
}
.inputColor:focus + .inputColorLabel {
    border: 3px solid #DC002D;
}