.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-width: 240px;
    max-width: 450px;
    padding: 0.5rem;
    gap: 0.4rem;
    border-radius: 6px;
    background-color: var(--white-100);
}
.container h1 {
    font-size: large;
    font-weight: 600;
    color: var(--black-800);
}
.container p {
    font-size: 10px;
    color: var(--black-800);
}
.container h5 {
    font-size: xx-large;
    font-weight: 500;
    color: var(--black-800);
}

@media (max-width: 769px) {
    .container {
        min-width: 320px;
        max-width: 540px;
        gap: 1rem;
        border-radius: 8px;
        border-top: 4px solid var(--primary);
        border-bottom: 4px solid var(--primary);
    }
    .container h1 {
        font-size: x-large;
    }
    .container h5 {
        font-size: 2.8rem;
    }
}